DATABASE_URL=postgres://warr_db_user:KU09u8dPiNkA1zHTkIkGGao8GUyirhir@dpg-d6remt24d50c73bshhlg-a.oregon-postgres.render.com:5432/warr_db
JWT_SECRET=Q2h4v9zJw8rT1sB5eL6pN2qV7yX0aR3uF8dG5kH1mS4tU9wE2bC7vZ6xP0qL3jA5
